---
import {Image} from "astro:assets";
import {urlForImage} from "../../sanity/urlForImage";
import {PortableText} from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import {getAllPosts} from "../../sanity/api";
type Posts = {
  slug: any;
};

export async function getStaticPaths() {
  const allPosts = await getAllPosts();

  return allPosts.map((post: Posts) => ({
    params: {slug: post.slug.current},
    props: {post},
  }));
}

const {post} = Astro.props;
---

<Layout title={post.title}>
  <PageLayout pageTitle={post.topic.title}>
    <section>
      {(<PortableText value={post.content} />)}
    </section>
    <!-- {
      post.main_image && (
        <Image
          src={urlForImage(post.main_image).url()}
          width={1920}
          height={628}
          format="webp"
          alt={post.title || "Article thumbnail"}
          class="rounded-lg"
        />
      )
    }

  x
    <div
      class="mt-[-76px] min-h-[150px] w-[80%] text-center drop-shadow-2xl bg-gradient-to-r from-[#3A2391] to-[#3F1FB8] rounded-lg text-white lg:text-2xl font-semibold p-6 mx-3 lg:mx-0"
    >
      <h1>{post.title}</h1>
    </div>
   x
    <div class="content w-[80%] lg:mt-4 text-white">
      {(<PortableText value={post.content} />)}
    </div> -->
  </PageLayout>
</Layout>
<style>
  .content p,
  .content h2,
  .content h3 {
    @apply px-[20%];
  }
  .content p {
    @apply my-4 font-normal text-lg;
  }
  .content h2 {
    @apply font-bold text-4xl;
  }
</style>
