---
import {urlForImage} from "../../sanity/urlForImage";
import SinglePageHeader from "@/components/SinglePageHeader.astro";
import {PortableText} from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import {getAllPosts} from "../../sanity/api";
type Posts = {
  slug: any;
};

export async function getStaticPaths() {
  const allPosts = await getAllPosts();

  return allPosts.map((post: Posts) => ({
    params: {slug: post.slug.current},
    props: {post},
  }));
}

const {post} = Astro.props;
---

<Layout title={post.title}>
  <PageLayout pageTitle={post.topic.title}>
    <section>
      <SinglePageHeader
        pageTitle={`${post.title}`}
        bgColor={` ${post.topic?.backgroundColor.hex}`}
        pageImg={urlForImage(post.main_image).url()}
      />
      <article class="bg-white p-12 rounded-bl-2xl rounded-br-2xl">
        {(<PortableText value={post.content} />)}
      </article>
    </section>
    <!-- 
-->
  </PageLayout>
</Layout>
<style>
  .content p,
  .content h2,
  .content h3 {
    @apply px-[20%];
  }
  .content p {
    @apply my-4 font-normal text-lg;
  }
  .content h2 {
    @apply font-bold text-4xl;
  }
</style>
