---
import {urlForImage} from "../sanity/urlForImage";

const item = Astro.props.item;
---

<header
  class="w-full h-full flex flex-col lg:flex-row items-center p-4 rounded-2xl flex-wrap relative overflow-hidden"
  style={{backgroundColor: `${item.topic?.backgroundColor.hex};`}}
  transition:name={`${item.title}-header`}
>
  <div
    class="flex flex-col w-full lg:w-3/4 lg:h-full lg:justify-between py-6 z-10"
  >
    <div>
      <h2
        class="text-4xl font-bold mb-2"
        transition:name={`${item.title}-title`}
      >
        {item.title}
      </h2>
      {item.excerpt && <p class="text-lg">{item.excerpt}</p>}
    </div>
    <div class="flex">
      <a
        href={`/${item._type}/${item.slug}/`}
        class="rounded-full inline-block bg-white p-4 uppercase text-lg text-dark font-bold mt-6 hover:bg-dark hover:text-white transition-all duration-500 whitespace-nowrap"
        aria-label={item.title}
      >
        Read more
      </a>
    </div>
  </div>

  <div
    class="absolute inset-0 flex items-center justify-center w-full bg-right-bottom bg-no-repeat bg-contain min-h-full z-0 top-0 right-0"
    style={{backgroundImage: `url(${urlForImage(item.image).url()})`}}
    transition:name={`${item.title}-image`}
  >
  </div>
</header>
