---
export interface Props {
  percent: number
  delay: number
  speed: number
  offset: number
  icon: string
  iconPackage: string
  title: string
}
const {
  delay = 450,
  speed = 800,
  percent = 60,
  icon = 'user',
  iconPackage = 'solid',
  title = 'HTML5',
} = Astro.props as Props
---

<div
  data-graphic-container
  class="graphic-container relative flex flex-col flex-nowrap bg-[#242f40] text-center"
>
  <div data-graphic class="graphic">
    <a
      href="https://codepen.io/badger3000/pen/zYmgWrY"
      class="block h-full w-full"
    >
      <svg
        data-pie
        data-percent={percent}
        data-delay={delay}
        data-speed={speed}
        width="100%"
        height="100%"
        viewBox="-100 -100 200 200"
        class="svg-top absolute left-0 top-0 z-20"
      >
        <circle
          class="circleAnimate"
          r="75"
          pathLength="100"
          fill="transparent"
          stroke-dasharray="100"
          stroke-dashoffset="100"
          stroke-width="20"
          stroke="#CCA43B"
          style="--offset: 10;"
        >
        </circle>
        <foreignobject
          x="-100"
          y="-100"
          width="100%"
          height="100%"
          class="icon"
        >
          <i
            class=`fa-${iconPackage} fa-${icon} icons absolute top-[45%] left-[50%] text-[#85959a] text-6xl`
          ></i>
        </foreignobject>
        <text aria-hidden="true"></text>
      </svg>
      <svg
        data-pie-bg
        width="100%"
        height="100%"
        viewBox="-100 -100 200 200"
        class="svg-bottom z-10"
      >
        <circle
          r="75"
          pathLength="99"
          fill="white"
          stroke-dasharray="100"
          stroke-dashoffset="0"
          stroke-width="20"
          stroke="#78693D"
          class="circleBG"
        >
        </circle>
      </svg>
    </a>
    <p>{title}</p>
  </div>
</div>
<style>
  .graphic-container {
    perspective: 1000px;
    transition: all 0.5s ease-out;
  }

  .graphic {
    min-width: 10vw;
    min-height: 40vh;
    transform-style: preserve-3d;
  }
  /*Icon*/

  .icons {
    transform: translate(-50%, -50%);
    text-shadow: 0px 1px 1px #4d4d4d;
  }
  /*Svg styles*/
  .svg-top {
    z-index: 20;
  }
  .svg-bottom {
    z-index: 10;
  }
  .circleBG,
  .circleAnimate {
    transform: rotate(-90deg);
  }
</style>
