---
import {Image} from "astro:assets";
export interface Props {
  bgColor: string;
  pageTitle: string;
  pageImg: any;
}

const {pageTitle, bgColor, pageImg} = Astro.props;
---

<div
  class="rounded-tl-2xl rounded-tr-2xl p-12 mt-9 flex flex-row justify-between items-center"
  style={`background-color: ${bgColor};`}
>
  <h2
    class="font-bold mb-2 text-white text-4xl w-10/12"
    transition:name={`${pageTitle}-title`}
  >
    {pageTitle}
  </h2>
  {
    pageImg && (
      <Image
        transition:name={`${pageTitle}-image`}
        class="max-w-[400px]"
        src={pageImg}
        inferSize={true}
        alt={pageTitle || "Article thumbnail"}
      />
    )
  }
</div>
