---
import Layout from "../../layouts/Layout.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import SinglePageHeader from "@/components/SinglePageHeader.astro";
import {urlForImage} from "../../sanity/urlForImage";
import {PortableText} from "astro-portabletext";
import {getAllPens} from "../../sanity/api";

type Pens = {
  slug: any;
};

export async function getStaticPaths() {
  const allPosts = await getAllPens();

  return allPosts.map((pen: Pens) => ({
    params: {slug: pen.slug.current},
    props: {pen},
  }));
}

const {pen} = Astro.props;
---

<Layout title={pen.title}>
  <PageLayout pageTitle={pen.topic.title}>
    <section>
      <SinglePageHeader
        pageTitle={`${pen.title}`}
        bgColor={` ${pen.topic?.backgroundColor.hex}`}
        pageImg={urlForImage(pen.thumbnail).url()}
      />
      <article class="bg-white p-12 rounded-bl-2xl rounded-br-2xl">
        {(<PortableText value={pen.description} />)}
      </article>
    </section>
    <!-- <article
      class="w-full lg:h-full h-[100vh] col-span-16 lg:col-span-12 text-white my-16"
    >
      <div class="flex flex-col items-center">
        <div class="w-full">
          {
            pen.embedCode && (
              <div class="codepen-embed" set:html={pen.embedCode} />
            )
          }
          <div
            class="mt-6 min-h-[150px] w-[80%] text-center drop-shadow-2xl bg-gradient-to-r from-[#3A2391] to-[#3F1FB8] rounded-lg text-white lg:text-2xl font-semibold p-6 mx-3 lg:mx-0"
          >
            <h1>{pen.title}</h1>
          </div>
          <div class="content w-[80%] lg:mt-4 text-white">
            <p>{pen.description}</p>
          </div>

          <a href={pen.penUrl} target="_blank" rel="noopener noreferrer"
            >View on CodePen</a
          >
        </div>
      </div>
    </article> -->
  </PageLayout>
</Layout>
